.App {
  text-align: center;
}

.Panel{
  background-color: rgb(156, 148, 148);
  color: white;
  height: 140px;
  width: 100%;  
}

.box{
  display: flex;
  align-items: stretch;
}

.Symbol
{
  background-color: orange;
  color: black;
  height: 140px;
  width: 300px;
  font-weight:400;
  font-size:60px;
  border-style:solid;
  border-color: black;
  text-align:center;
  padding-top: 2%;
  border-width: 0.5px;

  
}

.Button{
  background-color: rgb(248, 241, 227);
  color: black;
  height: 140px;
  width: 380px;
  border-style:solid;
  border-color: black;
  font-weight:400;
  font-size:60px;
  text-align: center;
  padding-top: 2%;
  border-width: 0.5px;

}